/* Style the links inside the sidenav */
/*#parts-main-navbar3*/
#slide_lft{
    position: fixed;
    top: 100px;
    left: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background: #f60;
    color:#fff;
    padding:5px;
}
#slide_in {
    position: fixed;
    min-height:200px;
    top: 100px;
    left: -250px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    box-shadow:0 0 5px #777;
    background: #f60;
    color:#fff;
    width:251px;
    padding:10px;
    box-sizing:padding-box;
}
#slide_lft:hover {
    left: 250px;
}
#slide_lft:hover #slide_in {
    left: 0;
}