@import url(../parts/navbar/navbar3.css);
@import url(../parts/table/table.css);
@import url('../tag/a_img/hover.css');
@import url('../parts/carousel/banner.css');
@import url('../parts/carousel/categoryMain.css');
@import url('../parts/login.css');


html, body {
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 100%;
}

