.parts-login-login .content {
    height: 100%;
    padding: 20px 20px 10px;
    color: #fff;
}

.parts-login-login {
    height: 100%;
    align-content: center;
}

.parts-login-login .card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.parts-login-login .social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.parts-login-login .social_icon span:hover {
    color: white;
    cursor: pointer;
}

.parts-login-login .card-header h3,h6 {
    color: white;
}

.parts-login-login .social_icon {
    position: absolute;
    right: 20px;
    top: -50px;
}

.parts-login-login .input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

.parts-login-login input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.parts-login-login .remember {
    color: white;
}

.parts-login-login .remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.parts-login-login .login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.parts-login-login .login_btn:hover {
    color: black;
    background-color: white;
}

.parts-login-login .links {
    color: white;
}

.parts-login-login .links a {
    margin-left: 4px;
}
.parts-login-login .card-img-top {
    height: 10vw;
    object-fit: cover;
}
.parts-login-login .card {
    height: 10vw;
    object-fit: cover;
}
.parts-login-login .btn-fix {
    object-fit: cover;
    height: 10vw;
    padding: 0;
    border: none;
    white-space: normal;
}
.parts-login-login .btn-img-top.resize{
    width: 24px; /* you can use % */
    height: auto;
    /*object-fit: cover;*/
}