html, body {
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 100%;
}
.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}
.card-img-top {
    height: 10vw;
    object-fit: cover;
}
.card {
    height: 10vw;
    object-fit: cover;
}
.btn-fix {
    object-fit: cover;
    height: 10vw;
    padding: 0;
    border: none;
    white-space: normal;
}
.btn-img.top.resize{
    width:24px; /* you can use % */
    height: auto;
    /*object-fit: cover;*/
}
